@import "../utils/variables.scss";

body {
  font-family: "Play", sans-serif;
  margin: 0 auto;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: $light-pink;
}

.app.theme-dark {
  background: $dark-blue;
}
